.edit_error_class {
	display: block;
	color: red;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

.sidebar ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #ccc;
	border-bottom: none;
}

.sidebar ul li a {
	display: block;
	padding: 3px;
	text-indent: 30px;
	text-decoration: none;
}

.sidebar ul li span {
	display: block;
	padding: 3px;
	text-indent: 30px;
	text-decoration: none;
}

.sidebar ul li a:hover {
	background-color: #eee;
}

.spinner {
	display: none;
	margin-bottom: 0px;
	margin-left: 5px;
}

.ralign {
	text-align: right;
}
.calign {
	text-align: center;
}

.teacupGold {
    color: gold;
    font-size:3em;
}

.teacupGrey{
    color: grey;
    font-size:3em;
}
.evaluation {
    margin-top: -5px;
    margin-bottom: 5px;
}

.adminCoursePage h4{
    font-size:2em;
}


.adminCoursePage a{
    font-size:1em;
    color: red;
    line-break-after: always;
}

.adminCoursePage a:after {
    content: '\A';
    white-space: pre;
}


.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
}


legend { 
  padding-top: 0;
  padding-bottom: 0;
}
fieldset, td { 
padding-top: 0;

}
/****** Style Star Rating Widget *****/
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css);
.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 2.25em;
  font-family: FontAwesome;
  line-height: 1em;
  display: inline-block;
  content: "\f005";
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.rating button {
  margin: 0.6em 0.7em 0 0;
  transition: ease 200ms;
  opacity: 0;
  float: right;
}
.rating input:checked ~ button {
  opacity: 1;
}

/* Lessons on coursepage */
div#lessons > div > div {
  margin-top: 1em;
}

div#lessons > div > div > *:not(:first-child) {
  margin-left: 1em;
}

.colborder {
  margin-bottom: 1.45em;
}
/* general optimization & responsive */
.headlineBox {
  display: flex;
  font-size: 3em;
  align-items: baseline;
}
.mainIco {
  height: 2em;
  margin-right: 0.5em;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 2.5em;
  }
  body {
    margin: 0 5vw;
  }
}