/*     css list with numeber circle background -------------- */

.question{
   font: 25px 'trebuchet MS', 'lucida sans';
}

.numberlist{
    width:450px;
}

.numberlist ol{
                counter-reset: li;
                list-style: none;
                *list-style: decimal;
                font: 15px 'trebuchet MS', 'lucida sans';
                padding: 0;
                margin-bottom: 4em;
 
}
.numberlist ol ol{
                margin: 0 0 0 2em;
            }
 
.numberlist button, a{
                position: relative;
                display: block;
                padding: .4em .4em .4em 2em;
                *padding: .4em;
                margin: .5em 0;
                background: #FFF;
                color: #444;
                text-decoration: none;
                -moz-border-radius: .3em;
                -webkit-border-radius: .3em;
                border-radius: .3em;
            }
 

.numberlist button:hover, a:hover{
                background: #cbe7f8;
                text-decoration:underline;
            }
.numberlist button:before, a:before{
                content: counter(li);
                counter-increment: li;
                position: absolute;
                left: -1.3em;
                top: 50%;
                margin-top: -1.3em;
                background: #87ceeb;
                height: 2em;
                width: 2em;
                line-height: 2em;
                border: .3em solid #fff;
                text-align: center;
                font-weight: bold;
                -moz-border-radius: 2em;
                -webkit-border-radius: 2em;
                border-radius: 2em;
                color:#FFF;
            }
 
/* End css list with numeber circle background -------------- */
