<resources>
    <res name="loginexplanation">
        Bitten melden Sie sich mit den Benutzerdaten des Studienbereichs Informatik an der Hochschule Rhein-Main in
        Wiesbaden an.<br/>

        Als nicht eingeloggter Gast haben Sie nur Zugriff auf öffentliche Lernkarteikarten und öffentliche Umfragen.
    </res>
    <res name="duellcreationintro">
        Hier können Sie ein Duell mit einem anderen registrierten Anwender starten. Wählen Sie hierzu ein
        Themengebiet aus. Ein Duell besteht aus 15 zufälligen Fragen in 5 Runden. Ihr Gegner wird aus den Kandidaten,
        die über das
        gleiche Themengebiet ein Duell machen wollen, ausgelost.<br/>
        Sie haben die Möglichkeit ein Duell für alle Fragen eines Moduls oder zu einem bestimmten Themengebiet zu
        starten.
    </res>
    <res name="round">Runde</res>
    <res name="tagline">Abgabeplattform für Programmieraufgaben - automatische Auswertung</res>
    <res name="welcome">Willkommen bei Subato</res>
    <res name="submissionBy">Abgabe von</res>
    <res name="submissionby">Abgabe von</res>
    <res name="at">am</res>
    <res name="testResults">Testergebnisse</res>
    <res name="sourceCode">Quelltext</res>
    <res name="name">Name</res>
    <res name="tests">Tests</res>
    <res name="failures">Failures</res>
    <res name="errors">Errors</res>
    <res name="username">Benutzername</res>
    <res name="password">Passwort</res>
    <res name="exerciseFilenameDescription">.jar-Datei, die Junit-Tests als .java-Dateien enthält</res>
    <res name="class">Lehrveranstaltung</res>
    <res name="description">Beschreibung</res>
    <res name="solutionTemplate">Vorgabe für die Lösung</res>
    <res name="solution">Lösung</res>
    <res name="solutionNotPublic">Sie sind nicht berechtigt die Lösung einzusehen.</res>
    <res name="fqcn">vollqualifizierter Name der Lösungs-Klasse, leer wenn die Lösung aus mehreren Klassen besteht</res>
    <res name="accessDenied">Zugriff verweigert.</res>
    <res name="exerciseText">Aufgabentext</res>
    <res name="submitSolution">Lösung abschicken</res>
    <res name="noCourseSpecified">Lehrveranstaltung existiert nicht.</res>
    <res name="noSuchExercise">Aufgabe existiert nicht.</res>
    <res name="results">Ergebnisse</res>
    <res name="courseResults">Kursergebnisse</res>
    <res name="classes">Lehrveranstaltungen</res>
    <res name="createExercise">Neue Aufgabe</res>
    <res name="listExercises">Aufgaben</res>
    <res name="editExercises">Aufgabe bearbeiten</res>
    <res name="deleteExercise">Aufgabe löschen</res>
    <res name="viewExercise">Aufgabe ansehen</res>
    <res name="exercise">Aufgabe</res>
    <res name="exercises">Aufgaben</res>
    <res name="reportABug">Bug melden</res>
    <res name="createExerciseSheet">Neues Übungsblatt</res>
    <res name="createExerciseSheetEntry">Aufgabe auf Blatt zuordnen</res>
    <res name="listExerciseSheetEntries">Aufgabe-Blatt-Zuordnungen</res>
    <res name="introduction">Subato ist eine Plattform um Übungsaufgaben bereitzustellen und direktes Feedback
        zu abgegebenen Lösungen zu geben. Die Plattform ist zur Zeit beschränkt auf
        Programmieraufgaben, die in den Programmiersprache Java, C oder Haskell zu lösen sind.
        Ein Kursleiter hinterlegt Aufgaben und versteckte Unit Tests zu diesen
        Aufgaben. Kursteilnehmer können schließlich Lösungen zu den Aufgaben hochladen.
        Die Lösungen werden anschließend auf dem Server kompiliert und die Unit-Tests
        durchlaufen. Das Ergebnis wird direkt angezeigt und persistent gespeichert.
        Kursleiter können die Lösungen und Testergebnisse einsehen.
    </res>

    <res name="successfulltests">Erfolgreiche Tests</res>
    <res name="lostmemory">Speicherlecks</res>
    <res name="stylecheckerrors">Stilfehler</res>
    <res name="labgroup">Gruppe</res>
    <res name="submissionMode">Abgabe-Modus</res>
    <res name="graded">benotet</res>
    <res name="ungraded">unbenotet</res>
    <res name="gradedWarning">Diese Aufgabe wird benotet. Sie haben nur endlich viele Versuche.
        Der beste dieser Versuche zählt. Weitere Abgaben wirken sich nicht auf Ihre Note aus.
    </res>
    <res name="listExerciseSheets">Übungsblätter</res>
    <res name="exerciseSheets">Übungsblätter</res>
    <res name="exercisesheets">Übungsblätter</res>
    <res name="editExerciseSheet">Edit Übungsblatt</res>
    <res name="deleteExerciseSheet">Löschen</res>
    <res name="viewExerciseSheet">Ansicht</res>
    <res name="exerciseSheet">Übungsblatt</res>
    <res name="attempts">Versuche für diese Aufgabe</res>
    <res name="commentsAvailable">Kommentare vorhanden</res>
    <res name="submissions">Abgaben</res>
    <res name="submission">Abgabe</res>
    <res name="resourceFiles">Resource-Dateien</res>
    <res name="solutionTemplate">Vorgabe für die Lösung</res>
    <res name="listCourses">Lehrveranstaltungen</res>
    <res name="terms">Semester</res>
    <res name="home">Startseite</res>
    <res name="delete">Löschen</res>
    <res name="view">Anzeigen</res>
    <res name="showCards">Karten der Box auflisten</res>
    <res name="exportQTI">Alle Karten als QTI exportieren</res>
    <res name="editEntries">Einträge bearbeiten</res>
    <res name="createSheet">Neues Übungsblatt</res>
    <res name="createGroup">Neue Übugsgruppe</res>
    <res name="createTutor">Neuer Tutor</res>
    <res name="editSheets">Übungsblätter bearbeiten</res>
    <res name="editGroups">Gruppen bearbeiten</res>
    <res name="editTutors">Tutoren barbeiten</res>
    <res name="addResourceFile">Datei hinzufügen</res>
    <res name="editResourceFiles">Dateien bearbeiten</res>
    <res name="submissionBy">Abgabe von</res>
    <res name="exportXML">Aufgabe als XML exportieren</res>
    <res name="exportAllExercises">Alle Aufgaben als XML exportieren</res>
    <res name="importExercises">Aufgaben aus XML-Datei importieren</res>
    <res name="importExercise">Aufgabe aus XML-Datei importieren</res>
    <res name="listcourseexplanation">Hier sind die Module, in denen Sie als Dozent eingetragen sind, aufgelistet. Für
        diese Module können Sie die Aufgaben administrieren. Beachten Sie, dass, wenn in unterschiedlichen Semestern
        verschiedene Dozenten unterrichten, alle Dozenten aus diesem Aufgabenpool schöpfen.
    </res>
    <res name="incorrectAnswer">Die Antwort war leider falsch.</res>
    <res name="correctAnswer">Die Antwort ist richtig.</res>
    <res name="partiallyCorrectAnswer">Die Antwort ist teilweise richtig.</res>
    <res name="yourAnswer">Ihre Antwort:</res>
    <res name="theCorrectAnswer">Korrekte Antwort:</res>
    <res name="explanation">Erläuterung:</res>
    <res name="submit">Abschicken</res>
    <res name="goOn">Weiter</res>
    <res name="cardboxes">Lernkarteikarten</res>
    <res name="mySolutionWasPartialCorrect">Meine Antwort war zum Teil korrekt</res>
    <res name="mySolutionWasCorrect">Meine Antwort war korrekt</res>
    <res name="mySolutionWasIncorrect">Meine Antwort war eher falsch</res>
    <res name="adminFlashcards">Lernkarten Administrieren</res>
    <res name="importFlashcardBox">Lernkarten Importieren</res>
    <res name="exportXml">Karteikarten als XML exportieren</res>
    <res name="deleteFlashcardsWarning">Das Löschen eines Karteikartenkastens bedeutet, dass nicht nur der Kasten
        sondern alle darin enthaltenen Karten unwiderbringlich aus der Datenank gelöscht werden. Es empfielt sich zuvor
        den Karteikartenkasten als XML-Datei zu exportieren.
    </res>
    <res name="createcardbox">Lernkartenstapel Anlegen</res>
    <res name="aboutsubato">Über Subato</res>
    <res name="createnewduel">Neues Duell Starten</res>
    <res name="finishedduels">Beendete Duelle</res>
    <res name="openduels">Offene Duelle</res>
    <res name="finished">Beendet</res>
    <res name="waiting">Wartet auf Gegner</res>
    <res name="draw">Unentschieden</res>
    <res name="defeat">Niederlage</res>
    <res name="victory">Sieg</res>
    <res name="play">Spielen</res>
    <res name="waitForOpponent">Wartet auf Gegner</res>
    <res name="duels">Fragenduelle</res>
    <res name="duel">Fragenduell</res>
    <res name="adminSurveys">Umfragen Administrieren</res>
    <res name="importSurvey">Umfrage Importieren</res>
    <res name="surveys">Umfragen</res>
    <res name="overall">Antworten insgesamt</res>
    <res name="noActiveSurvey">Zur Zeit gibt es keine aktiven Umfragen.</res>
    <res name="currentSurveys">Aktuelle Umfragen</res>
    <res name="classduel">Duelle zu allen Fragen eines Moduls</res>
    <res name="cardboxduel">Duelle zu einem Themengebiet</res>
    <res name="playYourDuels">Spiele Deine Duelle!</res>
    <res name="thanksForSurveyParticipation">Danke für Ihre Teilnahme. Die Auswertung wird in Kürze veröffentlicht.</res>
    <res name="cardSuddenlyDeleted">Der gerade gespielte Kartenstapel wurde vom Urheber während Ihrer Session gelöscht bzw. aktualisiert. Sie werden zum Hauptmenu weitergeleitet!</res>
    <res name="learningCoursePersonalSpaceTip">Sie sind hier in Ihrem persönlichen virtuellen Bereich und kein anderer als Sie hat Zugang zu Ihrem Lernfortschritt usw...</res>
    <res name="learningCourseCreationTip">Sie haben die Möglichkeit entweder an schon von Dozenten erstellten Kurse teilzunehmen oder Sie können je nach Themen Ihre eigene erstellen und absolvieren.</res>
    <res name="learningCourseAktualisationTip">Von anderen erstellten Kurse können aktualisiert werden und in so einem Fall wird Ihr Lernfortschritt beeinflusst.</res>
    <res name="learningCourseHowToTip">Lernen Sie die Antworte der Lernkarteikarten nicht auswendig sondern probieren Sie sie zu verstehen und besser noch sich zu überlegen in welchen Fällen Sie neues Wissen einsetzen können.</res>
    <res name="notShowAnymore">Hinweise nicht mehr anzeigen.</res>
    <res name="goodToKnow">Gut zu wissen</res>
    <res name="flashcardCourses">Lernkarteikartenkurse</res>
    <res name="flashcardcourses">Lernkarteikartenkurse</res>
    <res name="adminFlashcardCourses">Lernkarteikartenkurse verwalten</res>
    <res name="importFlashCardCourse">lernkarteikartenkurs importieren</res>
    <res name="createFlashCardCourseManually">Lernkarteikartenkurs manuell erstellen</res>
    <res name="flashcardcourseCreatedByYou">Von Ihnen erstellten Lernkarteikartenkurse</res>
    <res name="topic">Thema</res>
    <res name="topics">Themen</res>
    <res name="enterDescription">Bitte beschreiben Sie hier den zuerstellenden Kurs</res>
    <res name="enterCourseName">Kursname</res>
    <res name="createFlashCardCourse">Erstellen</res>
    <res name="studioTitle">Lernkarteikartenkurs</res>
    <res name="include">Inkludieren</res>
    <res name="missingTopic">Derzeit stehen keine LernKarten fürs Thema: {{name}} zur Verfügung</res>
    <res name="topicMax">Sie dürfen sich maximal 3 Themen pro Kurs auswählen. Bitte Klicken Sie auf schon ausgewählte Themen, um diese zu entfernen.</res>
    <res name="nameCourse">Bitte benennen Sie den zuerstellenden Kurs!</res>
    <res name="describeCourse">Bitte beschreiben Sie den zuerstellenden Kurs!</res>
    <res name="missingData">Fehlende Daten</res>
    <res name="cardTime">Zeitdurchschnitt: {{avr}} | Ihre Zeit: {{need}}</res>
    <res name="noPublicCardAvailable">Momentan stehen keine LernKarten zur Verfügung.</res>
    <res name="noSelectedTopicNoCardAvailable">Wählen Sie ein Thema, um die dazu gehörigen Lernkarten zu sehen.</res>
    <res name="selectOneCardAtLeast">Sie müssen mindesten eine Karte für Ihren Kurs auswählen!</res>

    <res name="commentAvailable">Kommentar vorhanden</res>
    <res name="granted">abgenommen</res>
    <res name="grantedBy">Abgabe abgenommen von</res>
    <res name="notGranted">(noch nicht abgenommen)</res>
    <res name="cannotSubmit">Sie sind nicht angemeldet und können somit keine Lösungen zum Testen hochladen.</res>
    <res name="createGroupFor">Neue Übungsgruppe erzeugen für </res>
    <res name="createTutorFor">Neuen Tutor eintragen für </res>
    <res name="createSheetFor">Neues Übungsblatt erzeugen für  </res>
    <res name="addExerciseToSheet">Eine Aufgabe auf das Übungsblatt zuordnen</res>
    <res name="cardPreview">Lernkarten Ansicht</res>
    <res name="cardadmin">Lernkarten Administration</res>
    <res name="subatohome">Subato Startseite</res>
    <res name="aboutsls">Über SLS</res>
    <res name="coursestatistics">Kursstatistiken</res>
    <res name="mycourses">Eigene Kurse</res>
    <res name="starredcourses">Abonierte Kurse</res>
    <res name="explorecourses">Alle Kurse</res>
    <res name="newcourse">Neuen Kurs erstellen</res>
    <res name="fromflashcardstudio">Mit dem Studio erstellen</res>
    <res name="prev">vor</res>
    <res name="next">zurück</res>
    <res name="SubatoLearningSystem">Subato Lernplattform</res>
    <res name="importcoursefromxml">Kurs aus XML-Datei importieren</res>
    <res name="subatolearningsystem">Subato Lernplattform</res>
    <res name="title">Titel</res>
    <res name="number">Nummer</res>
    <res name="flashcard">Lernkarte</res>
    <res name="answers">Antworten</res>
    <res name="ontologyentries">Ontologie Einträge</res>
    <res name="uploadResourceFile">Resource Datei Hochladen</res>
    <res name="startCertificationTest">Abnahme Test Starten</res>    
    <res name="lastSubmission">Letzte Abgabe</res>
    <res name="testSampleSolution">Tests für Musterlösung</res>
    <res name="reallyDeleteFile">Soll die folgende Datei wirklich unwiderruflich vom Server gelöscht werden?</res>
    <res name="runplagiarism">Plagiatsprüfung Starten</res>
    <res name="downloadplagiarism">Plagiatsprüfung Ergbisse</res>
    <res name="Score">Punkte</res>
    <res name="score">Punkte</res>
    <res name="listMember">Kursteilnehmer</res>
    <res name="editPage">Seite Bearbeiten</res>
    <res name="pageAdmin">Seitenadministration</res>
    <res name="editSLSCourses">Zugeordnete Kartenkurse Verwalten</res>
    <res name="lectures">Vorlesungen</res>
    <res name="traininggroups">Praktikumsgruppen</res>
    <res name="tutors">Tutoren</res>
    <res name="youParticipate">Sie sind Teilnehmer dieses Kurses. Ihre Kursergebnisse finden Sie  </res>
    <res name="here">hier</res>
    <res name="youDontParticipate">Sie sind noch nicht als Teilnehmer angemeldet. Die Anmeldung findet sich </res>
    <res name="responsiblelecturer">Modulverantwortliche Lehrkraft</res>
    <res name="lecturers">Lehrkräfte</res>
    <res name="course">Kurs</res>
    <res name="lessons">Vorlesungsstunden</res>
    <res name="subscribe">Zum Kurs anmelden</res>
    <res name="submitrating">Bewertung abgeben</res>
    <res name="joinLecture">Der Vorlesung beitreten</res>
    <res name="attendances">Teilnahmen</res>
    <res name="change">Ändern</res>
    <res name="pointsEntry">Punkte Vergeben</res>
    <res name="ispublic">Ist Öffentlich</res>
    <res name="lecturer">Lehrkraft</res>
    <res name="back">Zurück</res>
    <res name="backToCoursePage">Zurück zur Modulseite</res>
	
</resources>
