<resources>
    <res name="loginexplanation">Please use the same username and password you would use for other websites of the CS
        department.
    </res>
    <res name="tagline">Submit programming assignments, get results instantly</res>
    <res name="duellcreationintro">
        Here you can start a quiz duel. Choose a topic. A duel is played in 5 rounds. A round has 3 questions.
        Your opponent will be chosen automatically.<br/>
        You can start a duel with general questions for a certain course or duels concerning some certain topic.
    </res>
    <res name="round">Round</res>
    <res name="welcome">Welcome to Subato</res>
    <res name="submissionBy">Submission by</res>
    <res name="submissionby">Submission by</res>
    <res name="at">at</res>
    <res name="testResults">Test results</res>
    <res name="sourceCode">Source code</res>
    <res name="name">name</res>
    <res name="tests">tests</res>
    <res name="failures">failures</res>
    <res name="errors">errors</res>
    <res name="username">username</res>
    <res name="password">password</res>
    <res name="exerciseFilenameDescription">.jar file that contains junit test .java files</res>
    <res name="class">course</res>
    <res name="description">description</res>
    <res name="solutionTemplate">Solution Template</res>
    <res name="solution">solution</res>
    <res name="solutionNotPublic">You are not allowed to see the solution.</res>
    <res name="fqcn">fully qualified name of the solution class, empty if solution consists of more than one class</res>
    <res name="accessDenied">Access denied.</res>
    <res name="exerciseText">exercise text</res>
    <res name="submitSolution">Submit solution</res>
    <res name="noCourseSpecified">No such class.</res>
    <res name="noSuchExercise">No such exercise.</res>
    <res name="results">Results</res>
    <res name="courseResults">Course Results</res>
    <res name="classes">Courses</res>
    <res name="createExercise">New Exercise</res>
    <res name="listExercises">List Exercises</res>
    <res name="editExercises">edit exercises</res>
    <res name="deleteExercise">delete exercise</res>
    <res name="viewExercise">View Exercise</res>
    <res name="exercise">Exercise</res>
    <res name="exercises">Exercises</res>
    <res name="exerciseSheets">Exercise Sheets</res>
    <res name="exercisesheets">Exercise Sheets</res>
    <res name="listExerciseSheets">Exercise Sheets</res>
    <res name="createExerciseSheets">New Exercise Sheets</res>
    <res name="listExerciseSheetEntries">Exercise Sheet Entries</res>
    <res name="createExerciseSheetEntry">New Exercise Sheet Entry</res>
    <res name="reportABug">Report a bug</res>
    <res name="introduction">Subato is a platform for providing exercises and giving direct
        feedback to submitted solutions.
        Lecturers can upload exercises together with JUnit test cases.
        Students can upload solutions to the exercises. The solutions are compiled and
        the unit test are processed. The results are displayed instantly. Furthermore the results
        are stored persistently and can be inspected by the lecturer.
    </res>
    <res name="successfulltests">successful tests</res>
    <res name="lostmemory">memory leaks</res>
    <res name="stylecheckerrors">style check errors</res>
    <res name="labgroup">group</res>
    <res name="submissionMode">submission mode</res>
    <res name="graded">graded</res>
    <res name="ungraded">ungraded</res>
    <res name="gradedWarning">This exercise is graded. You have a limited number of attempts. The best of your first
        submissions counts towards the grade you receive in this assignment! For further information, please ask your
        instructor.
    </res>
    <res name="createExerciseSheet">New Exercise Sheet</res>
    <res name="listExercisesSheet">List Exercise Sheets</res>
    <res name="editExercisesSheet">Edit Sheet</res>
    <res name="deleteExerciseSheet">Delete Sheet</res>
    <res name="viewExerciseSheet">View Sheet</res>
    <res name="exerciseSheet">Exercise Sheet</res>
    <res name="attempts">attempts for this exercise</res>
    <res name="commentsAvailable">comments available</res>
    <res name="comments">comments</res>
    <res name="submissions">submissions</res>
    <res name="submission">submission</res>
    <res name="resourceFiles">Resource Files</res>
    <res name="listCourses">Courses</res>
    <res name="terms">Terms</res>
    <res name="home">Home</res>
    <res name="createSheet">New Exercise Sheet</res>
    <res name="createGroup">New Group</res>
    <res name="createTutor">New Tutor</res>
    <res name="editEntries">Edit Entries</res>
    <res name="editSheets">Edit Exercise Sheets</res>
    <res name="editGroups">Edit Groups</res>
    <res name="editTutors">Edits Tutors</res>
    <res name="addResourceFile">Add Resource File</res>
    <res name="editResourceFiles">Edit Resource Files</res>
    <res name="submissionBy">Submission by</res>
    <res name="exportXML">export exercise as XML</res>
    <res name="exportAllExercises">export all exercises</res>
    <res name="importExercises">import exercises</res>
    <res name="importExercise">import exercise</res>
    <res name="listcourseexplanation">These are the courses, in which you are listed as a lecturer. You can administrate
        exercises for these courses. Please be aware that other lecturers of these courses in different terms use these
        exercises as well.
    </res>
    <res name="incorrectAnswer">Your answer is not correct.</res>
    <res name="yourAnswer">Your Answer:</res>
    <res name="correctAnswer">Your answer is correct.</res>
    <res name="partiallyCorrectAnswer">Your answer is partially correct.</res>
    <res name="theCorrectAnswer">Correct answer:</res>
    <res name="explanation">Explanation:</res>
    <res name="submit">Submit</res>
    <res name="goOn">Next</res>
    <res name="cardboxes">Flashcards</res>
    <res name="flashcardCourses">Flashcard courses</res>
    <res name="flashcardcourses">Flashcard courses</res>
    <res name="mySolutionWasPartialCorrect">My answer was partially correct</res>
    <res name="mySolutionWasCorrect">My answer was correct</res>
    <res name="mySolutionWasIncorrect">My answer was wrong</res>
    <res name="adminFlashcards">Administrate Flashcards</res>
    <res name="importFlashcardBox">Import Flashcards</res>
    <res name="adminSurveys">Administrate Survey</res>
    <res name="importSurvey">Import Survey</res>
    <res name="surveys">Surveys</res>
    <res name="exportXml">Export Flashcards as XML</res>
    <res name="deleteFlashcardsWarning">Deleteion of a flashcard box not only means the deletion of the box but of every
        flashcard in the box. It is recommended to export the flashcard box as xml file before deletion.
    </res>
    <res name="createcardbox">Create Flashcard Box</res>
    <res name="aboutsubato">About Subato</res>
    <res name="createnewduel">Start new Duel</res>
    <res name="finishedduels">Finished Duels</res>
    <res name="openduels">Open Duels</res>
    <res name="finished">Finished</res>
    <res name="waiting">Waiting for Opponent</res>
    <res name="draw">Draw</res>
    <res name="defeat">Defeat</res>
    <res name="victory">Victory</res>
    <res name="play">Play</res>
    <res name="waitForOpponent">Waiting for Opponent</res>
    <res name="duels">Duels</res>
    <res name="duel">Duel</res>
    <res name="overall">Overall</res>
    <res name="noActiveSurvey">Currently there is no survey available.</res>
    <res name="currentSurveys">Current Surveys</res>
    <res name="classduel">Duels Concerning Certain Courses</res>
    <res name="cardboxduel">Duels Concerning Certain Topics</res>
    <res name="playYourDuels">Play your duels</res>
    <res name="thanksForSurveyParticipation">Thank You for participating. Survey results will be made public shortly.
    </res>
    <res name="goodAnswers">good answers</res>
    <res name="wrongAnswers">wrong answers</res>
    <res name="almostCorrectAnswers">almost correct answers</res>
    <res name="cardSuddenlyDeleted">The currently playing card was deleted or updated by the author during your session. You will be redirected to the main menu!</res>
    <res name="learningCoursePersonalSpaceTip">You are here in your personal virtual space and none other than you have access to your learning progress etc ...</res>
    <res name="learningCourseCreationTip">You can either take part in courses already taught by lecturers or you can create and complete your own according to the topics.</res>
    <res name="learningCourseAktualisationTip">Other courses created may be updated, and in that case your learning progress will be affected.</res>
    <res name="learningCourseHowToTip">Do not memorize the answers of the flashcards, but try to understand them and better think about when you can apply new knowledge.</res>
    <res name="notShowAnymore">Do not show hints anymore.</res>
    <res name="goodToKnow">Good to know</res>
    <res name="adminFlashcardCourses">Administrate flashcard courses</res>
    <res name="delete">Delete</res>
    <res name="showCards">list cards in box</res>
    <res name="exportQTI">export to qti format</res>
    <res name="importFlashCardCourse">import flashcard course</res>
    <res name="createFlashCardCourseManually">create flashcard course manually</res>
    <res name="flashcardcourseCreatedByYou">Flashcard courses created by you</res>
    <res name="topic">Topic</res>
    <res name="topics">Topics</res>
    <res name="enterDescription">Please enter a short description of the course to be created!</res>
    <res name="enterCourseName">Course name</res>
    <res name="createFlashCardCourse">Create</res>
    <res name="studioTitle">Flashcard course</res>
    <res name="include">Include</res>
    <res name="missingTopic">Currently no flashcards are available for the topic: {{name}}</res>
    <res name="topicMax">You can choose a maximum of 3 topics per course. Please click already selected topics to remove them.</res>
    <res name="nameCourse">Please name the course to be created!</res>
    <res name="describeCourse">Please describe the course to be created!</res>
    <res name="missingData">Missing data</res>
    <res name="cardTime">Time average: {{avr}} | Time you need: {{need}}</res>
    <res name="noPublicCardAvailable">Currently there are no flashCards available.</res>
    <res name="noSelectedTopicNoCardAvailable">Please choose a theme to see the corresponding flashcards available.</res>
    <res name="selectOneCardAtLeast">You must select at least one card for your course!</res>
    <res name="commentAvailable">comment available</res>
    <res name="granted">granted</res>
    <res name="grantedBy">submission granted by</res>
    <res name="notGranted">(not yet granted by lecturer)</res>
    <res name="cannotSubmit">You are not logged in and therefore you cannot submit a solution.</res>
    <res name="createGroupFor">Create new group for </res>
    <res name="createTutorFor">Create new tutor for </res>
    <res name="createSheetFor">Create new exercise sheet  for </res>
    <res name="addExerciseToSheet">Add an exercise to the exercise sheet </res>
    <res name="cardPreview">Flashcard Preview</res>
    <res name="cardadmin">Flashcard Administration</res>
    <res name="subatohome">Subato Home</res>
    <res name="aboutsls">About SLS</res>
    <res name="coursestatistics">Statistics</res>
    <res name="mycourses">My Courses</res>
    <res name="starredcourses">Starred Courses</res>
    <res name="explorecourses">Explore Courses</res>
    <res name="newcourse">New Course</res>
    <res name="fromflashcardstudio">Create with Studio</res>
    <res name="prev">prev</res>
    <res name="next">next</res>
    <res name="SubatoLearningSystem">Subato Learning System</res>
    <res name="importcoursefromxml">Import Course from XML File</res>
    <res name="subatolearningsystem">Subato Learning System</res>
    <res name="title">Title</res>
    <res name="number">Number</res>
    <res name="flashcard">Flashcard</res>
    <res name="answers">Answers</res>
    <res name="ontologyentries">Ontologie Entries</res>
    <res name="uploadResourceFile">Upload Resource File</res>
    <res name="startCertificationTest">Start Certification Test</res>
    <res name="lastSubmission">Due Date</res>    
    <res name="testSampleSolution">Test Sample Solution</res>
    <res name="reallyDeleteFile">Do you realy want to delete the following file permanentely from the server?</res>
    <res name="runplagiarism">Start Tests For Plagiarism</res>
    <res name="downloadplagiarism">Download Plagiarism Results</res>
    <res name="Score">score</res>
    <res name="score">score</res>
    <res name="listMember">List Course Member</res>
    <res name="editPage">Edit Page</res>
    <res name="pageAdmin">Page Administration</res>
    <res name="editSLSCourses">Flashcardcourse Administration</res>
    <res name="lectures">Lectures</res>
    <res name="traininggroups">Training Groups</res>
    <res name="tutors">Tutors</res>
    <res name="youParticipate">You participate in this course. Find your course results </res>
    <res name="here">here</res>
    <res name="youDontParticipate">You are not participating in this course. Join the course</res>
    <res name="responsiblelecturer">Responsible Lecturer</res>
    <res name="lecturers">Lecturers</res>
    <res name="lecturer">Lecturer</res>
    <res name="ispublic">Public</res>
    <res name="course">Course</res>
    <res name="lessons">Lessons</res>
    <res name="subscribe">Subscribe</res>
    <res name="submitrating">Submit Rating</res>
    <res name="joinLecture">Join Lecture</res>
    <res name="attendances">Attendances</res>
    <res name="change">Change Value</res>
    <res name="pointsEntry">Assign Points</res>    
    <res name="ispublic">Is Public</res>
    <res name="lecturer">Lecturer</res>
    <res name="back">back</res>
    <res name="backToCoursePage">back to course page</res>

</resources>
