<lift:surround with="default" at="content">
  <lift:snippet type="SLSCourseInCourseSnippet.addSLSCourse" form="post">
    <h2><span id="createGroup"></span>
      <span id="course"></span>
      <span id="term"></span></h2>

    <b>Flashcard Course</b>: <span id="name"></span><br>
	<span id="hiddenTerm"></span>
	<span id="hiddenCourse"></span>
        <span id="create"></span>
    </lift:snippet>
</lift:surround>
