<lift:surround with="default" at="content">
  <head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <style> /* Dropdown Button */
.dropbtn {
  border-radius: 25px;
  border: 2px solid #ac0a04;
  padding: 20px; 
  font-size: 16px;
  float: right;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 
    </style>
    <script>
      function getRatingValue(nr){ 
        var rating = document.querySelector('input[name = "'+nr+'rating"]:checked').value;
        $.ajax({url: "/subato/RateLesson/"+nr+"/"+rating, success: function(result){
          document.getElementById(nr+'rating').innerHTML =result;
        }});

      }
    </script>
  </head>
  <div data-lift="CoursePageSnippet.showPage">
    <div class="column span-18"><span id="admin" style="float:right;"></span>
    </div>
    <p>&nbsp;</p>
    <div>
      <div class="column span-18 ">
       <h2><span id="course"></span> (<span id="term"></span>)</h2>
      </div>
      <div id="memberCheck"></div><p>&nbsp;</p>
      <div class="column span-18 ">
	<div class="column span-9 colborder ">
          <h3><span id="lecturer"></span></h3>
	  <div id="lecturers"> </div>
	  <div id="tutors"> </div>
	</div>
	<div class="column span-6 ">
	  <div id="lecturediv"/>
	  <div id="lectureTimes"></div>
	  <div id="trainingGroups"> </div>
	</div>
      </div>
      <hr>
      <div>
        <div class="column span-9 colborder ">
          <div id="exerciseSheet"></div>
        </div>
        <div class="column span-5" >
          <div id="flashcardCourses"></div>
          <div>
            <span id="resourceFiles"></span>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>
    </div>

    <hr>
    <div class="column span-17 ">
      <div id="mainText"></div>
    </div>
    <p>&nbsp;</p>
    <div class="column span-17 ">
      <div id="lessons"></div>
    </div>
    <p>&nbsp;</p>
  </div>
</lift:surround>
