<li class="course-row list-group-item">
  <div class="course-details" style="display: inline-block;">
    <h6><a href="#"><span id="courseName">First course / </span><span id="courseTheme"> First Theme</span></a></h6>
    <div style="display: inline-block;"><span id="courseDescription">This is the first description of an flashcard course in Subato</span></div>  
  </div>
  
  <div class="subscription-difficulty" style="position: absolute; display: inline-block; right: 3.2%; top: 25%; vertical-align: middle;">
    <div class="difficulty" style="display: inline-block; vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="difficulty">
      <i class="fa fa-star" style="font-size:20px; color: #ffdf00;"></i>
      <i class="fa fa-star" style="font-size:20px; color: #ffdf00;"></i>
      <i class="fa fa-star" style="font-size:20px; color: #ffdf00;"></i>
    </div>
    <button class="btn btn-outline-danger my-2 my-sm-0" style="position:relative; left: 20px; width: 112px" type="submit">unsubscribe</button>
  </div>
</li>
