<lift:surround with="default" at="content">
  <lift:snippet type="SheetSnippet.Create" form="post">
    <h2><lift:Loc.createSheetFor/> »<span id="course"></span>« <span id="term"></span></h2>
	<b>Name</b>: <span id="name"></span><br>
	<b>Public</b>: <span id="isPublic"></span><br>
	<b>Number</b>: <span id="number"></span><br>
	<b>Description</b>:
	<div>
	  
      <script type="text/javascript" src="/static/3dpartyjscript/tiny_mce/js/tinymce/tinymce.min.js"></script>
      <script type="text/javascript">
      // <![CDATA[
      tinymce.init({
	width: 500,
	mode: "exact",
	elements: "mce1",
	// theme: "advanced",
        theme: 'modern',
        plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
  ],
        toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent ',
        entity_encoding : "numeric",
	entities: "38,amp,34,quot,60,lt,62,gt"});
    // ]]>
      </script>
    </div>
	<span id="textArea"></span>

	<span id="hiddenTerm"></span>
	<span id="hiddenCourse"></span>
        <span id="create"></span>
    </lift:snippet>
</lift:surround>
