<lift:surround with="default" at="content">
    <lift:snippet type="DuelSnippet.createNewDuelForm" form="post">
        <div>
            <link rel="stylesheet" href="/static/card.css">
            <div>
                <lift:Loc.duellcreationintro>
            </div>
            <br>
            <h2>
                <lift:Loc.classduel>
            </h2>
            <div id="courseSelector"></div>
            <div id="submit"></div>
            <br>
            <h2>
                <lift:Loc.cardboxduel>
            </h2>
            <div id="cardBoxDuelDescription"></div>
            <div id="cardBoxSelector"></div>
            <div id="submit2"></div>
    </lift:snippet>
</lift:surround>
