<lift:surround with="default" at="content">
    <h2>
        <lift:Loc.flashcards/>
    </h2>
    <lift:snippet type="AdminFlashcardsSnippet.confirm" form="post">
        <div id="content"></div>
    </lift:snippet>
</lift:surround>
