<lift:surround with="default" at="content">
  <div id="loader"></div>
  <lift:snippet type="StudentResultsSnippet.resultsByStudTermAndEx">
    <div>
      <root>
        <div id="rows"/>
      </root>
    </lift:snippet>
</lift:surround>







