<lift:surround with="default" at="content">
    <div data-lift="GroupSnippet.listGroups">
        <h2><span id="course"></span> <span id="term"></span></h2>
        <table>
            <thead>
            <tr>
                <th class="myheader-item">name</th>
                <th>time</th>
		<th>room</th>
		<th>lecturer</th>
                <th></th>
		<th></th>
            </tr>
            </thead>
            <tbody>
            <tr id="row"></tr>
            </tbody>
        </table>
        <span id="create"/>
    </div>
</lift:surround>
