<lift:surround with="default" at="content">
  <head>
    <style type="text/css">
      div#content h3 {
      margin-top:1em;
      margin-bottom:0.5em;
      }
    </style>
  </head>
  <div>
    <lift:snippet type="SheetAddEntrySnippet.addEntry" form="post" multipart="true">
          <h2><span id="addExerciseToSheet"></span>  <span id="sheet"></h2>
      <table>
	<tbody>
	  <tr><td><lift:Loc.exercise/></td><td id="exercise"></td></tr>
	  <tr><td><lift:Loc.number/></td><td id="number"></td></tr>
	  <tr><td></td><td id="create"></td></tr>
	</tbody>
      </table>
    </lift:snippet>
  </div>
</lift:surround>
