<lift:surround with="default" at="content">
    <lift:snippet type="SolutionSnippet.solution">
        <h2><span id="exerciseName"></span></h2>
        <div id="solution"></div>
    </lift:snippet>

    <script type="text/javascript">
    SyntaxHighlighter.all()

    </script>
</lift:surround>
