<div data-lift="CardsSnippet.statistics" class="statisticDia" style="width:400px; position:relative;">
  <svg id="svgContainer" height="30" width="400" class="statisticDia" style="display:block; margin:auto;">
    <defs>
      <linearGradient id="goodAnsAnim">
	<stop offset="100%" stop-color="#00ff00">
	  <animate attributeName="offset" from="0" to="1" dur="0.8s" begin="0s" repeatCount="1"></animate>
	</stop>
	<stop offset="0%" stop-color="#ffffff">
          <animate attributeName="offset" from="0" to="1" dur="0.8s" begin="0s" repeatCount="1"></animate>
        </stop>
      </linearGradient>
      
      <linearGradient id="almostCorrectAnsAnim">
	<stop offset="100%" stop-color="#ffff00">
	  <animate attributeName="offset" from="0" to="1" dur="0.8s" repeatCount="1"></animate>
	</stop>
	<stop offset="0%" stop-color="#ffffff">
          <animate attributeName="offset" from="0" to="1" dur="0.8s" repeatCount="1"></animate> 
        </stop>
      </linearGradient>
      
      <linearGradient id="badAnsAnim">
	<stop offset="100%" stop-color="#ff0000">
	  <animate attributeName="offset" from="0" to="1" dur="0.8s" repeatCount="1"></animate>
	</stop>
	<stop offset="0%" stop-color="#ffffff">
          <animate attributeName="offset" from="0" to="1" dur="0.8s" repeatCount="1"></animate>
        </stop>
      </linearGradient>
      
      <linearGradient id="textAnim">
	<stop offset="100%" stop-color="#000000">
	  <animate attributeName="offset" from="0" to="1" dur="0.8s" repeatCount="1"></animate>
	</stop>
	<stop offset="0%" stop-color="#ffffff">
          <animate attributeName="offset" from="0" to="1" dur="0.8s" repeatCount="1"></animate>
        </stop>
      </linearGradient>
    </defs>
    <g>
      <rect x="0" y="0" width="_" height="25" class="goodAns" fill="url(#goodAnsAnim)" id="goodAnsProgress"></rect>
      <text x="_" y="18" font-size="15" fill="url(#textAnim)" id="goodAnsPercentage">_</text>
    </g>
    <g>
      <rect x="_" y="0" width="_" height="25" fill="url(#almostCorrectAnsAnim)" id="almostCorrectAnsProgress"></rect>
      <text x="_" y="18" font-size="15" fill="url(#textAnim)" id="almostCorrectAnsPercentage">_</text>
    </g>
    <g>
      <rect x="_" y="0" width="_" height="25" fill="url(#badAnsAnim)" id="badAnsProgress"></rect>
      <text x="_" y="18" font-size="15" fill="url(#textAnim)" id="badAnsPercentage">_</text>
    </g>
  </svg>
  <div id="neededTime">
    <span  id="avrTime"></span>
    <span  id="yourTime"></span>
  </div>
</div>
