<lift:surround with="default" at="content">
        <div data-lift="StatisticDataSnippet.showStatisticBoxes">
            <div class="numberlist">
                <ol>
                    <li id="rows"></li>
                </ol>
            </div>
        </div>
</lift:surround>