<li class="course-row list-group-item">
  <div class="course-details" style="display: inline-block;">
    <span style="display: block;">
      <h6 style="display: inline-block;">
	<a href="#" id="road-to-course-view">
	  <span id="cardName"></span>
	</a>
      </h6>
    </span>
    <span class="badge badge-info" id="attempts-badge" style="position: absolute; display: inline-block; right: 45%; top: 32%; max-width: 150px;"></span>
    <div id="statistic-bar"></div>
  </div>
</li>
