/*     css list with numeber circle background -------------- */

.statisticdiv {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 70px; 
}

.caption {
    display: block;
}

code {
  display: block;
  white-space: pre-wrap;   
  font-size: 12px;
  font-family: 'Courier New', 'Lucida Console';
  text-align: left;
}

.card {
  width: 500px;
  background-color: #CCCCFF;
  margin: 25;
  border-radius: 25px;
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
}
.innercard { margin: 40px 20px -20px 50px;}

.innercard *{
    padding: 0em .2em .2em 0em;
}

.singleRow {
    rows: 1;
    resize: none;
    height: 1.3em;
    margin-left: 1em;
    position: relative;
    display: block;
    padding: .4em .4em .4em 2.2em;
    *padding: .4em;
    background: #FFF;
    color: #444;
    width: 350px;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}



.cloze {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 5em;
  height: 1em;
}

.greenbox {
  float: left;
  height:20px;
  width: 20px;
  background: #00bb00;
  border: 1px solid #000;
}

.greybox {
  float: left;
  height:20px;
  width: 20px;
  background: #dddddd;
  border: 1px solid #000;
}
.redbox {
  float: left;
  height:20px;
  width: 20px;
  background: #ff0000;
  border: 1px solid #000;
}
.yellowbox {
  float: left;
  height:20px;
  width: 20px;
  background: #ffff00;
  border: 1px solid #000;
}



.question, .cloze{
   font: 25px 'trebuchet MS', 'lucida sans';
}



.answer{
    background: #FFF;
    margin-top: 1em;
    margin-bottom: 1em;
}

.numberlist{
    width:450px;
}

.numberlist ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
}
.numberlist ol ol{
    margin: 0 0 0 2em;
}
 
.numberlist button{
    position: relative;
    display: block;
    padding: 0.8em .8em .4em 4em;
    *padding: .4em;
    background: #FFF;
    color: #444;
    width: 400px;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

.numberlist label{
    position: relative;
    display: block;
    padding: 0.3em 1.2em 0.3em 0em;
    background: #FFF;
    color: #444;
    width: 380px;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

.numberlist a{
    position: relative;
    display: block;
    padding: 0.7em 0.5em 0.3em 2em;
    background: #FFF;
    color: #444;
    width: 380px;
    margin-top: .3em;
    margin-bottom: .3em;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

.answer{
    position: relative;
    display: block;
    padding: 0.7em 0.5em 0.3em 2.6em;
    background: #FFF;
    color: #444;
    width: 380px;
    margin-top: .3em;
    margin-bottom: .3em;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

.statistic{
    position: relative;
    display: inline-block;
    padding: 0.7em 0.5em 0.3em 2.6em;
    background: #fff8dc;
    width: 100%;
    max-width: 380px;
    margin-top: .3em;
    margin-bottom: .3em;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

.numberlist button:hover,  .numberlist a:hover{
  background: #cbe7f8;
  text-decoration:underline;
}


button pre{
    text-align: left;
    font-size: 14px ;
}

.question pre{
    font-size: 14px;
}

.numberlist button:before, .numberlist a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  color:#FFF;
}

#colLeft {
  background-color: #ff8b8b;
  height: 48px;
  float: left;
}


#colwrap{
  overflow:hidden;
  background-color: orange;      
}
#colCenter {
  height: 48px;  
}
#colRight {
  background-color: #c3d0ff;
  height: 48px;
  float: right;
}


.pushButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.pushButton:hover {
	background-color:#5cbf2a;
}
.pushButton:active {
	position:relative;
	top:1px;
}

.dontPushButton {
    background-color:#768d87;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2b665e;

}

#neededTime {
    visibility: hidden;
    display: none;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    display: block;
    
    position: absolute;
    z-index: 1;
    bottom: 100%;
}

.statisticDia:hover #neededTime {
    visibility: visible;
    display: block;
    
}

/* End css list with numeber circle background -------------- */
